  <div class="container">
    <header class="header">
      <h1 id="title" class="text-center">Add Your Profile</h1>
    </header>
    <div class="form-wrap">	
      <form id="survey-form">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label id="name-label" for="name">Name</label>
              <input type="text" name="name" id="name" placeholder="Enter your name" class="form-control" required [(ngModel)]="userprofile.name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>current role</label>
              <select id="dropdown" name="role" class="form-control" required [(ngModel)]="userprofile.profile">
                <option disabled selected value>Select</option>
                <option value="student">Student</option>
                <option value="job">Full Time Job</option>
                <option value="learner">Full Time Learner</option>
                <option value="preferNo">Prefer not to say</option>
                <option value="other">Other</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="company">Skills</label>
              <p-multiSelect defaultLabel="select programming languages" [options]="ProgLang" [(ngModel)]="selectedProgLang" optionLabel="name" [style]="{'width':'90%'}" name="select"></p-multiSelect>
            </div>
          </div>
          <!--  col-md-6   -->
    
          <div class="col-md-6">
            <div class="form-group">
              <label for="github">GitHub</label>
              <input
                type="text"
                class="form-control"
                id="github"
                name="github"
                placeholder="GitHub Link"
                [(ngModel)]="userprofile.github"
              />
            </div>
          </div>
          <!--  col-md-6   -->
        </div>
        <!--  row   -->
    
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="linkedin">LinkedIn</label>
              <input
                type="text"
                class="form-control"
                id="linkedin"
                name="linkedin"
                placeholder="LinkedIn Link"
                [(ngModel)]="userprofile.linkedin"
              />
            </div>
          </div>
          <!--  col-md-6   -->
    
          <div class="col-md-6">
            <div class="form-group">
              <label for="twitter"
                >Twitter</label
              >
              <input type="url" class="form-control" id="twitter" placeholder="Twitter Link" name="twitter" [(ngModel)]="userprofile.twitter"/>
            </div>
          </div>
          <!--  col-md-6   -->
        </div>
        <div class="row mb-3">
          <div class="col-md-4">
            <button type="submit" id="submit" class="btn btn-primary btn-block" (click)="create()">Submit</button>
          </div>
        </div>
      </form>
    </div>	
  </div>
