/* #card-style-override {
  border-radius: 20px;
  box-shadow: 8px 8px 15px 3px lightgray;
} */

#card-override-2 {
  /* border-radius: 20px; */
  box-shadow: 10px 10px 15px 3px lightgray;
  /* filter: drop-shadow(8px 8px 15px 3px lightgray); */
}

/* #img-override {
  border-radius: 20px 20px 0 0;
} */

.p-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
