<body>
  <!-- Back to top button -->
  <div class="back-to-top"></div>

  <header>
    <nav
      class="navbar navbar-expand-lg navbar-light bg-white sticky"
      data-offset="500"
    >
      <div class="container">
        <a href="#" class="navbar-brand"
          >Geeks<span class="text-primary">Meet</span></a
        >
        <div class="navbar" id="navbarContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="btn btn-primary ml-lg-2" href="#">ADD YOUR PROFILE</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="page-section banner-seo-check">
      <div
        class="wrap bg-image"
        style="background-image: url(../assets/img/bg_pattern.svg)"
      >
        <div class="container text-center">
          <div class="row justify-content-center wow fadeInUp">
            <div class="col-lg-8">
              <h2 class="mb-4">SEARCH FOR GEEKS</h2>
              <form action="#">
                <input type="text" class="form-control" placeholder="..." />
                <button type="submit" class="btn btn-success">Check Now</button>
              </form>
            </div>
          </div>
        </div>
        <!-- .container -->
      </div>
      <!-- .wrap -->
    </div>
  </header>

  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                alt="avatar"
                class="rounded-circle img-fluid"
                style="width: 150px"
              />
              <h5 class="my-3">John Smith</h5>
              <p class="text-muted mb-1">Full Stack Developer</p>
              <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-primary">
                  Follow
                </button>
                <button type="button" class="btn btn-outline-primary ms-1">
                  Message
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .container -->
  </div>
  <!-- .page-section -->
  <!-- Blog -->

  <footer
    class="page-footer bg-image"
  >
    <div class="container">
      <p class="text-center" id="copyright">Copyright &copy; 2022</p>
    </div>
  </footer>
</body>
