<div class="container">
  <div class="row mb-5">
    <div class="col-lg-8 mx-auto">
      <div class="bg-white p-5 rounded shadow" style="margin-top: 50px;">
        <!-- Custom rounded search bars with input group -->
        <form action="">
          <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
            <div class="input-group">
              <input type="search" placeholder="Search for fellow geeks" aria-describedby="button-addon1" class="form-control border-0 bg-light">
              <div class="input-group-append">
                <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </form>
        <!-- End -->
      </div>
    </div>
  </div>


  <div class="row pb-5 mb-4">
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0"><img src="https://media.istockphoto.com/id/1255905237/photo/female-it-developer-at-workplace.jpg?s=612x612&w=0&k=20&c=-rMSbdqmY9hZSF19peYkovxotmOmQ3KFrzTlJbmOPTk=" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="mb-0">Mark Rockwell</h5>
            <p class="small text-muted">CEO - Consultant</p>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item mx-2"><a href="#" class="social-link"><i class="fab fa-github"></i></a></li>
              <li class="list-inline-item mx-2"><a href="#" class="social-link"><i class='fab fa-twitter'></i></a></li>
              <li class="list-inline-item mx-2"><a href="#" class="social-link"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0"><img src="https://media.istockphoto.com/id/1255905237/photo/female-it-developer-at-workplace.jpg?s=612x612&w=0&k=20&c=-rMSbdqmY9hZSF19peYkovxotmOmQ3KFrzTlJbmOPTk=" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="mb-0">Mark Rockwell</h5>
            <p class="small text-muted">CEO - Consultant</p>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item mx-2"><a href="#" class="social-link"><i class="fab fa-github"></i></a></li>
              <li class="list-inline-item mx-2"><a href="#" class="social-link"><i class='fab fa-twitter'></i></a></li>
              <li class="list-inline-item mx-2"><a href="#" class="social-link"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0"><img src="https://media.istockphoto.com/id/1255905237/photo/female-it-developer-at-workplace.jpg?s=612x612&w=0&k=20&c=-rMSbdqmY9hZSF19peYkovxotmOmQ3KFrzTlJbmOPTk=" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="mb-0">Mark Rockwell</h5>
            <p class="small text-muted">CEO - Consultant</p>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item mx-2"><a href="#" class="social-link"><i class="fab fa-github"></i></a></li>
              <li class="list-inline-item mx-2"><a href="#" class="social-link"><i class='fab fa-twitter'></i></a></li>
              <li class="list-inline-item mx-2"><a href="#" class="social-link"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0"><img src="https://media.istockphoto.com/id/1255905237/photo/female-it-developer-at-workplace.jpg?s=612x612&w=0&k=20&c=-rMSbdqmY9hZSF19peYkovxotmOmQ3KFrzTlJbmOPTk=" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="mb-0">Mark Rockwell</h5>
            <p class="small text-muted">CEO - Consultant</p>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item mx-2"><a href="#" class="social-link"><i class="fab fa-github"></i></a></li>
              <li class="list-inline-item mx-2"><a href="#" class="social-link"><i class='fab fa-twitter'></i></a></li>
              <li class="list-inline-item mx-2"><a href="#" class="social-link"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
